@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Supermercado+One&display=swap');
body {
    background-color: #1f212a;
    color: #ffffff;
    font-size: 16px;
    font-family: "Quintessential", cursive;
}
.avatar {
    alt: "Это я";
    width: 300px;
    border-radius: 30px;
}
.txt p {
    color: #8d8a99;
    margin: 4px;
}
.txt h1 {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}
.txt {
    padding-left: 30px;
}
.soc{
    background-color: #1e3137;
    border-radius: 30px;
}
.soc h2{
    text-align: center;
    font-weight: 100;
}
.soc a{
    text-decoration: none;
    font-weight: 600; 
    font-family: 'Supermercado One', cursive;
}
.vk{
    color: #23a2f5;
}
.ytb{
    color: #e45a1f; 
}
/* hr{
    margin: 0%;
    height: 5px;
    border-radius: 20px;
    background-color: #404457;
    border-width: 0px;
} */
.hobby{
    background-color: #2d344a ;
    padding-left: 30px;
    border-radius: 30px;
}
.hobby h2{
    padding-bottom: 20px;
    text-align: center;
}
.ytbcourse{
    text-align: center;
}
.ytbcourse a{
    text-decoration: none;
    font-family: 'Supermercado One', cursive;
    color: #e85e76;
}
.xp{
    text-align: center;
    background-color: #6a3935;
    border-radius: 30px;
}
.xp table{
     padding-left: 30px; 
     border: 0px;
}
.xp tbody{
    font-family: 'Times New Roman', Times, serif;
}
#svaz{
    margin-top: 500px;
    text-align: left;
}
#email{
    margin-left: 3px;
}
#sub{
    border-radius: 30px;
    padding: 10px;
    border: 3px dotted #26a4e8;
    background-color: #245ef7;
    font-family: 'Supermercado One', cursive;
    color: white;
}